.table {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

.headerRow {
  display: flex;
  background-color: #005bb5;
  color: white;

  &.preHeaderRow {
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
    /* background-color: magenta; */

    .icon {
      margin-right: 8px;
    }

    & > * {
      flex: 0 0 auto; /* Prevent stretching: no grow, no shrink, natural size */
    }
  }
}

.checkBoxControl {
  padding-top: 15px !important;
}

.preHeaderCell {
  font-size: 18px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row {
  color: darkslateblue;
  display: flex;
  background-color: #f9f9f9;

  &.selectedRow {
    background-color: #b3d9ff;
  }

  &:hover {
    background-color: #66b3ff;
  }

  &:nth-child(even) {
    background-color: #efefef;

    &.selectedRow {
      background-color: #b3d9ff;
    }

    &:hover {
      background-color: #66b3ff;
    }
  }
}

.cell {
  flex: 1;
  padding: 10px;
  text-align: left;
}

.columnCheck {
  width: 20px; /* fixed width */
}

.columnName {
  flex: 0 0 15%; /* 15% width */
}

.columnDevice {
  flex: 0 0 15%; /* 15% width */
}

.columnPath {
  flex: 0 0 45%; /* 45% width */
}

.columnStatus {
  flex: 0 0 15%; /* 15% width */
}


.statusCircle {
  display: inline-block;
  width: 10px;
  height: 10px;

  &.available {
    background-color: green;
    border-radius: 50%;
  }
}

